body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

a {
  text-decoration: none;
  color: #252525;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.btn {
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
}

.btn:hover {
  border-color: rgba(0,0,0,.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.center {
  text-align: center;
  margin: auto;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.avatar {
  height: 50px;
  margin: 10px;
}

.question {
  width: 100%;
  max-width: 590px;
  padding: 10px;
  margin: 20px auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  background-color: floralwhite;
}

.question-info {
  margin: 20px;
  display: flex;
  flex-direction: column;
}


.new-question {
  width: 100%;
  max-width: 590px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.textarea {
  border-radius: 4px;
  border: 1px solid #dad7d7;
  font-size: 15px;
  padding: 10px;
  height: 100%;
  background-color: white;
}

.question-length {
  text-align: right;
  margin-top: 10px;
  font-size: 20px;
  color: #C3392A;
}

.logoutButton {
  padding: 10px;
  margin: 10px;
  background-color: floralwhite;
  width: 100px;
}

.voteButton {
  margin: 20px;
}

.voteButtonS {
  margin: 20px;
  width: 60%;
}

.navLinks {
color: white;
}

.navLinks:hover {
  text-decoration: none;
  color: floralwhite;
}

.navLinks:active {
 font-weight: normal!important;
}

.links {
  text-decoration: none;
  color: #252525;
}

.links:hover {
  text-decoration: none;
  color: black;
}
